@bg_color: #ccc;
@font-family: Monospace;
@Primary-color: #333;
@Secondary-color: rgba(0, 0, 0, 0.877);
@line-height:1em + 1em;

body{
    background: @bg_color;
    font-family: @font-family;
    line-height: @line-height;
}
h1{
    .bordered
}

.primary-text{
    color: @Primary-color;
}
.primary-btn:extend(.btn){
    background: @Secondary-color;
    color:#fff
}
.btn{
    padding: 10px 15px;
    border: 0;
}
.bordered{
    border-top: dotted 1px #000;
    border-bottom:solid 1px #000;
}