colors{
    /* HTML COLORS */
    color: blue;
    /*HEX COLORS*/
    color: #ff652f;
    /*RGB / RGBA COLORS */
    color: rgb(122,12,69);
    color: rgb(122,12,69,1);
}

h1{
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: #ff652f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    color: rgb(122,12,69);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h4{
    color: rgb(122,12,69,.3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.6em;
}