colors{
    /* HTML COLORS */
    color: blue;
    /*HEX COLORS*/
    color: #ff652f;
    /*RGB / RGBA COLORS */
    color: rgb(122,12,69);
    color: rgb(122,12,69,1);
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
#main{
    float: right;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;

}
#sidebar{
    float: left;
    width: 30%;
    padding: 10px;
    border-right:1px solid #333;
    box-sizing: border-box;
}
/*p{
   border-top: 5px solid gold;
    border-right: 2px dotted #ff652f;
    border-bottom: 5px dashed gold;
    border-left: 2px dotted #ff652f;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding: 10px 20px 10px 20px;
    padding: 20px 40px;
    padding: 50px;
    padding: 20px;
    margin-top: 40px;
}
*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
#mainHeader{
    background-color: #333;
    color: white;
}
#mainNav{
    background: #ccc;
    color: black;
}
#mainNav ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
#mainNav li{
    display: inline;
    padding: 5px 10px;

}
#mainNav a{
    color: black;
    text-decoration: none;
    font-size: 18px;
}
#mainNav li:hover{
    background: #aaa;
}
#jumbo{
    background-image: url(./images/img.jpg);
    background-position: center center;
    min-height: 200px;
    text-align: center;
    

}
#jumbo h1{
    color: rgb(44, 44, 44);
    font-size: 40px;
    padding-top: 20px;
    line-height: 1.2em;
}